@import '../../index.scss';

.tour{
    background: $mainBlack;
    margin: 2rem 0;
    img{
        width: 100%;
        display: block;
        min-height: 13rem;
    }
}

@media screen and (min-width: 768px){
    .tour{
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}